# -----------------------------
# Master Libraries List
# -----------------------------

# Initial set
fastapi==0.123.9
uvicorn==0.38.0
Jinja2==3.1.6
python-multipart==0.0.20
SQLAlchemy==2.0.36
psycopg2-binary==2.9.11
bcrypt==4.2.1
httpx==0.28.1
python-dotenv==1.2.1

# More to be added later...
